/* Main HTML components */
html, body {
    height: 100%;
}

html {
    background-image: linear-gradient(to bottom right,#000,#020a17);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    overflow: hidden;
}

body {
    margin: 1%;
}

* > a {
    color: #153e7d !important;
}

/* All projects */
#all-projects-block {
    color: #e6e8eb;
    display: flex;
    height: 96vh; /*maybe change this?*/
}

/* Independent categories */
.category-block-group {
    height: 100%;
    width: 23%;
    margin: 0 1%;
}

.category-block-title {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.category-block-content {
    border: 3px solid;
    border-radius: 20px;
    height: 95%;
    overflow-y: auto;
}

.category-to-do-block-content {
    background-color: rgba(2, 17, 41, 0.65);
}

.category-in-progress-block-content {
    background-color: rgba(158, 153, 19, 0.18);
}

.category-completed-block-content {
    background-color: rgba(7, 130, 17, 0.19);
}

.category-dropped-block-content {
    background-color: rgba(161, 6, 32, 0.150);
}

/* Independent tasks */
.project-block {
    border: 1px solid;
    border-radius: 20px;
    left: 2.5%;
    margin: 10px 0;
    padding-top: 10px;
    position: relative;
    width: 95%;
}

.project-block > div {
    margin-left: 5%;
    margin-right: 5%;
}

[class^='project-block-'] {
    transition: all 1s ease;
}

.project-block-hidden-component {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.project-block-visible-component {
    height: auto;
    visibility: visible;
}

.project-block-center {
    text-align: center;
}

.project-block-project-priority-group {
    margin-bottom: 10px;
    text-align: center;
    white-space: preserve;
}

.project-block-project-priority-group > div {
    text-align: center;
    width: 50%;
}

.project-block-date-proposed {
    margin-top: 10px;
}

.project-block-criteria-list {
    margin-right: 5%;
}
